<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="
					http://java.sun.com/xml/ns/javaee 
					http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name></display-name>

	<!-- Spring ApplicationContext配置文件的路径,可使用通配符,多个路径用,号分隔 此参数用于后面的Spring Context 
		Loader -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring.xml;classpath:spring-hibernate.xml</param-value>
	</context-param>
	<!-- spring 监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Filter 定义 -->
	<!-- Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--Hibernate的session丢失解决方法 -->
	<filter>
		<filter-name>openSessionInView</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInView</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- struts2 filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>




	<servlet>

		<servlet-name>freemarker</servlet-name>

		<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>

		<init-param>

			<param-name>TemplatePath</param-name>

			<param-value>/WEB-INF/</param-value><!-- 此处表示ftl文件的存放路径，这里表示ftl文件放在了/WEB-INF/目录下 -->

		</init-param>

		<init-param>

			<param-name>NoCache</param-name>

			<param-value>true</param-value>

		</init-param>

		<!-- 强制使用 UTF-8作为输出编码格式! -->

		<init-param>

			<param-name>ContentType</param-name>

			<param-value>text/html; charset=UTF-8</param-value>

		</init-param>

		<!-- FreeMarker 设置: -->

		<!-- 在开发时设置为0，实际使用的时候需设置为较大的值 -->

		<init-param>

			<param-name>template_update_delay</param-name>

			<param-value>0</param-value>

		</init-param>

		<!-- 模板文件的编码方式. -->

		<init-param>

			<param-name>default_encoding</param-name>

			<param-value>utf-8</param-value>

		</init-param>

		<init-param>

			<param-name>number_format</param-name>

			<param-value>0.##########</param-value>

		</init-param>

		<!-- datetime-format指定DateTime类型数据显示的格式 -->

		<init-param>

			<param-name>datetime_format</param-name>

			<param-value>yyyy-MM-dd HH:mm:ss</param-value>

		</init-param>

		<!-- date-format指定Date类型数据显示的格式 -->

		<init-param>

			<param-name>date_format</param-name>

			<param-value>yyyy-MM-dd</param-value>

		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>



	<servlet-mapping>

		<servlet-name>freemarker</servlet-name>

		<url-pattern>*.ftl</url-pattern>

	</servlet-mapping>






	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
